.button {
    background-color: #f7e4ab;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    border-color:  #45a049;
  }
  
  .button.hidden {
    display: none;
  }
  
  .button.visible {
    display: block;
  }
  
  .button:hover {
    background-color: #45a049;
    color: white;
  }